.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#list-wrapper {
    width: 30%;
}

#map {
    width: 800px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}