* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#wrapper {
    height: 100%;
    transition: margin-left .5s;
}

.page-header {
    margin: 0;
    padding: 15px;
}

.button-container {
    width: 10%;
    font-size: 30px;
    text-align: center;
}

.button-container i:hover {
    cursor: pointer;
}

.project-title {
    width: 90%;
}

#map-container {
    height: 100%;
    position: relative;
}

#map {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    overflow: hidden;
}

/* Styling for the navigation panel */
#navigation-container {
    width: 0;
    z-index: 1;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.88);
    transition: .5s;
}

